<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/testing" aria-label="Product">
            <img src="https://cdn.discordapp.com/attachments/734011457003323394/784444139164139550/clipart-airplane-logo-11.png" width="24" height="24">
        </a>
        <% if (username_) { %>
            <a class="py-2 d-none d-md-inline-block nav-tabs-custom" href="/user"><%= username_ %></a>
        <% } %>
        <% if(!username_) {%>
            <a class="py-2 d-none d-md-inline-block nav-tabs-custom" href="/user">User Profile</a>
        <% } %>
        <a class="py-2 d-none d-md-inline-block nav-tabs-custom" href="/login">Login/Register</a>
    </div>
</nav>