<html>
<head>
    <title></title>
</head>
    <body>
        <form method="post" action="/api/admin-panel" id="postform">
            <label>Email ID: </label> <input type="email" name="emailId">
            <br>            <br>

            <label>Password: </label><input type="password" name="password">
            <br>            <br>

            <input type="submit" value="bookbus" onclick="newfun()" id="submit">
        </form>
        <p><%= status %></p>
        </body>
</html>