<html>
<head>
    <%- include('../partials/head'); %>
    <style>
        .container{
            width: 500px;
        }
    </style>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
    <main>
        <div class="container">
            <h4>User Profile</h4>
            <h5>Username: Nimit2801</h5>
            <div class="row">
                <div class="col-sm">
                    <h5>First Name: Nimit</h5>
                </div>
                <div class="col-sm">
                    <h5>Last Name: Savant</h5>
                </div>
            </div>
            <h5>EmailId: mnimi@gmail.com</h5>
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>